<!-- <div>
<table>
    <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>Title</th>
        <th>Completed</th>
    </tr>
    <tr *ngFor="let e of d">
        <td>{{e.id}}</td>
        <td>{{e.userId}}</td>
        <td>{{e.title}}</td>
        <td>
            {{e.completed}}
        </td>
    </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
welcome
{{d | json}} -->
<p style="float: right;">
  <button mat-raised-button color="warm" (click)="oneto()">one</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="twoto()">Two</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="accent" (click)="threeto()">Three</button>
</p>
<br>
<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
     
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator  [length]='100'
    [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  