table,tr,td,th{
    
    width: 60px;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    border-right: 1px solid currentColor;
   
  
  padding-right: 24px;
 
    
}
tr:hover {background-color: rgb(202, 202, 80);}
/* table,tr,td{
    width:2px;

} */