<p>
    <button (click)="moveto()"><mat-icon>arrow_back</mat-icon></button>
</p>

<form #logic="ngForm" (ngSubmit)="onsubmit(logic)">
<h3>NewUser Form</h3>
<mat-form-field>
    <mat-label>
        UserName
    </mat-label>
    <input type="text" matInput [(ngModel)]="username" name="username" required>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>
        PassWord
    </mat-label>
    <input type="password" matInput [(ngModel)]="password" name="password" required>
</mat-form-field>
<br>
<button mat-raised-button color="primary" >submit</button>
<br>

</form>
